<% layout('layouts/boilerplate') %>


<div class="container mt-5 text-center">

    <p class="mb-5">Welcome to the secret page. This is my cat Yaya.</p>

    <img src="/images/yayashelf.jpg" alt="Cat on shelf" class="img-fluid">

    <form class=" mt-5" action="/logout" method="POST">
    
        <button class="btn btn-secondary">Logout</button>
    
    </form>



</div>