
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      akcoding 2021
    </div>
  </nav>

</body>
</html>